*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#container{
  font-family: sans-serif;
}
#top_header{
  width: 100%;
  height: auto;
  background-color: #444;
  overflow: hidden;
  padding-top: 2px;
}
#top_header_left{
  float: left;
  color: #fff;
}
#top_header_left{
  margin-left: 100px;
  margin-top: 7px;
  margin-bottom: 5px;
}
#top_header_left ul li{
  float: left;
  list-style: none;
}
a:first-child{
  text-decoration: none;
  color: #fff;
}
#top_header_left ul li:first-child img{
  float: left;
}
#top_header_left ul li:first-child p{
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 70%;
  font-style: italic;
  font-weight: bold;
}
#top_header_left ul li:last-child{
  margin-left: 50px;
  margin-top: 5px;
  font-size: 60%;

}
#top_header_right{
  float: right;
  color: #fff;
}
#top_header_right ul{
  margin-right: 50px;
  padding-top: 2px;
}
#top_header_right ul li{
  list-style: none;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 70%;
}
#top_header_right ul li:last-child{
  margin: 0;
}
@media only screen and (max-width: 1000px){
  #top_header{
    display: none;
}
}
#bottom_header{
  padding-top: 20px;
}
#bottom_header img{
  margin: auto;
  display: block;
}
#bottom_header a{
  text-decoration: none;
  color: red;
}
